@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @font-face {
      font-family: "Source Code Pro";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/fonts/SourceCodePro-VariableFont_wght.ttf) format("truetype");
    }
    --background: 229 41% 4%;
    --foreground: 229 23% 99%;
    --muted: 229 12% 14%;
    --muted-foreground: 207 12% 73%;
    --popover: 229 41% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 229 41% 5%;
    --card-foreground: 0 0% 100%;
    --border: 220 13% 71%;
    --input: 215 27.9% 16.9%;
    --primary: 229 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 14% 8%;
    --secondary-foreground: 229 14% 68%;
    --accent: 229 23% 17%;
    --accent-foreground: 229 23% 77%;
    --destructive: 3 89% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 229 100% 62%;
    --radius: 0.5rem;
  }
}

.dark {
  --background: 229 41% 4%;
  --foreground: 229 23% 99%;
  --muted: 229 12% 14%;
  --muted-foreground: 229 10% 63%;
  --popover: 229 41% 5%;
  --popover-foreground: 0 0% 100%;
  --card: 229 41% 5%;
  --card-foreground: 0 0% 100%;
  --border: 215 27.9% 16.9%;
  --input: 215 27.9% 16.9%;
  --primary: 229 100% 62%;
  --primary-foreground: 0 0% 100%;
  --secondary: 229 14% 8%;
  --secondary-foreground: 229 14% 68%;
  --accent: 229 23% 17%;
  --accent-foreground: 229 23% 77%;
  --destructive: 3 89% 54%;
  --destructive-foreground: 0 0% 100%;
  --ring: 229 100% 62%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow-x: hidden !important;
  }
  html {
    overflow-x: hidden !important;
  }
}
